{
  "extends" : ["airbnb-base"],
  "plugins": [],
  "rules": {
    "comma-dangle": ["error", "never"],
    "default-case": 0,
    "func-names": 0,
    "function-paren-newline": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "linebreak-style": 0,
    "new-cap": 0,
    "no-cond-assign": ["error", "except-parens"],
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-new": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-restricted-syntax": ["error", "BinaryExpression[operator='in']"],
    "no-shadow": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "padded-blocks": ["error", { "classes": "always" }],
    "prefer-destructuring": 0
  },
  "globals": {},
  "env": {
    "node": true,
    "es6": true
  }
}
